// Paleta de cores compartilhada

@import './variables';

$color1: #BAE2FF;
$color2: #FFCAB9;
$color3: #B9FFDD;
$color4: #F99494;
$color5: #FFE8AC;
$color6: #9DD6FF;
$color7: #ECA2FF;
$color8: #CDCDCD;
$color9: #DAFF8B;
$color10: #979797;
$color11: #FFA285;
$color12: #A99A7C;

.color1 { background-color: $color1 !important; }
.color2 { background-color: $color2 !important; }
.color3 { background-color: $color3 !important; }
.color4 { background-color: $color4 !important; }
.color5 { background-color: $color5 !important; }
.color6 { background-color: $color6 !important; }
.color7 { background-color: $color7 !important; }
.color8 { background-color: $color8 !important; }
.color9 { background-color: $color9 !important; }
.color10 { background-color: $color10 !important; }
.color11 { background-color: $color11 !important; }
.color12 { background-color: $color12 !important; }